body *{background: none!important}
html:before{content: 'Eu Fui incluido automaticamente, fiz o background sumir e estou em public/css/teste/home.css'; height: 40px; line-height: 40px; text-align: center;  background: red;}
