body a{color: red}
body:before{content: 'Eu Fui incluido automaticamente, fiz os a´s ficarem vermelhos e estou em public/css/teste/teste.css'; height: 40px; line-height: 40px; text-align: center;  background: red;}
