body p{color: blue}
html:before{content: 'Eu Fui incluido automaticamente, fiz os paragrafos ficarem azuis e estou em public/css/teste/foo/bar/bar.css'; height: 40px; line-height: 40px; text-align: center;  background: red;}
