body{background: #000}
h1:after{content: 'Eu Fui incluido automaticamente, fiz o background ficar preto e estou em public/css/teste/foo/bar/teste.css'; height: 40px; font-size: 12px; line-height: 40px; text-align: center;  background: #fff;}