.container-fluid{margin:auto}.input-xlarge{width:450px !important;height:26px !important}input{font-size:16px !important;/*padding:8px !important*/}form{margin-bottom:0}.controls{margin-bottom:12px}input:-webkit-autofill{color:#2a2a2a !important}@media (min-width: 1200px){body{/*padding-top:60px;*/padding-left:40px;padding-right:40px}.container-fluid{width:590px}}
body{ color: #574742;font-family: arial,sans-serif;font-size: 13px;line-height: 18px;padding-bottom:40px;padding-left:0;padding-right:0;background:url('/voges-pagamento/public/bundles/admin/css/img/bg.png')}.hero-unit{background-color:#fff}.sidebar-nav{padding:9px 0}.input-append .add-on{margin-left:-5px;margin-top:-8px}.page-header{border-bottom:0}.page-header h1{color:#eb5f3a;text-shadow:white 0 1px 0}.page-header h1 small{color:#eb5f3a}.hero-unit,.subnav{box-shadow:0 0 6px rgba(0,0,0,0.5);border-radius:0}a:hover{text-decoration:none}hr{border-bottom:1px solid #dad7d2;border-top:1px solid white}.page-header{padding-bottom:10px}.page-header hr{margin:10px 0px 0px 0px}@media (max-width: 480px){.hero-unit{padding:10px}}@media (max-width: 768px){.hero-unit{padding:20px;width:90%;margin-left:2%}}@media (min-width: 768px) and (max-width: 980px){.container-fluid{width:700px}}@media (min-width: 980px){.container-fluid{width:800px}}@media (min-width: 1200px){}.hero-unit,footer{text-shadow:white 0 1px 0}.subnav{background-color:#353535;padding:18px 60px 1px 60px;position:relative;margin-bottom:26px}@media (min-width: 980px){.subnav-fixed{position:fixed;padding-bottom:18px;top:40px;left:0;right:0;z-index:1020;border-color:#d5d5d5;border-width:0 0 1px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:inset 0 1px 0 #ffffff, 0 1px 5px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 0 #ffffff, 0 1px 5px rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 #ffffff, 0 1px 5px rgba(0,0,0,0.1);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.subnav-fixed .nav{width:938px;margin:0 auto;padding:0 1px}.subnav .nav > li:first-child > a, .subnav .nav>li:first-child>a:hover{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}}.nav-pills>li>a:hover,.nav-pills>li>a{border-radius:0}.navbar{border-bottom: solid 5px #005a86;line-height:24px}.navbar .brand{color: #005a86;line-height:2}.navbar .container>.nav-collapse>.nav>li>a{line-height:38px}.navbar .divider-vertical{height:50px;border-right:solid 1px #2d2d2d}.dropdown .caret{margin-top:18px}.tab-content{background:#fff;padding:30px}input{font-size:16px !important;/*padding:8px !important*/}.x-large{width:99.3%}.btn{padding:4px 12px;font-size:14px}.large-label{font-weight:bold}.tabbable{min-height:600px}.align-right{text-align:right !important}.no-style{padding:0 !important;margin:0 !important;width:100px;border:none;background:none;font:13px arial, sans-serif !important;color:inherit;display:inline;line-height:18px !important}.no-style:focus{outline:none}
.tab-content{ border:1px dashed rgb(230, 230, 230);}
.table thead th { 
        text-transform: uppercase; 
        empty-cells: show;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    text-transform: uppercase;
    vertical-align: bottom;
    white-space: nowrap;
}