body{background: orange}
body:before{content: 'Eu Fui incluido automaticamente, fiz o background ficar laranja e estou em public/css/home/home.css'; height: 40px; line-height: 40px; text-align: center;  background: red;}