body p{color: yellow}
html:before{content: 'Eu Fui incluido automaticamente, fiz os paragrafos ficare amarelos e estou em public/css/home/teste.css'; height: 40px; line-height: 40px; text-align: center;  background: red;}